$rows: 8;
$cols: 5;

$gapSize: 0.05;
$blockSize: (1 - $gapSize) / $cols - $gapSize;
$aspectRatio: ($gapSize * ($cols+1) + $blockSize * $cols) / ($gapSize * ($rows+1) + $blockSize * $rows);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#game-cont {
  --block-size: 100px;
  position: relative;
  width: var(--width);
  height: var(--height);
  user-select: none;
  overflow: hidden;
}

.kacsa{
  --width: 50%;
}

.kacsa p{
  background-color: calc(2* var(--width));
}

#game-cont .block {
  position: absolute;
  width: var(--realBlockSize);
  height: var(--realBlockSize);
  transition: top 1s, left 1s;
  background: #0e5a67;
  border-radius: 35%;
  left: calc((#{$gapSize} + var(--xpos) * #{$blockSize + $gapSize}) * var(--width));
  top: calc((#{$gapSize} + var(--ypos) * #{$blockSize + $gapSize}) * var(--width));
  box-shadow: 1px 2px 5px #0005;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  color: white;
  font-family: Bahnschrift, sans-serif;

}


:root {
  --width: 100vw;
  --height: calc(var(--width) / #{$aspectRatio});
  --realBlockSize: calc(var(--width) * #{$blockSize});
}

@media(min-aspect-ratio: #{round($aspectRatio*10000)} / 10000) {
  :root {
    --height: 100vh !important;
    --width: calc(var(--height) * #{$aspectRatio}) !important;
  }
}

// a 4-day week is a bad idea
// people prefer optimists
